body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


h3 {
    font-family: 'Montserrat', sans-serif;
}
.pro {
    text-decoration: underline;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #E3FDFD;
}

.profile_picture {
    border-radius: 30px;
}

.main_icon {
    width: 10%;
    height: 10%;
}

.middle-container {
 
}

.bottom-container {

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50pxs;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}